div.row{
    display: flex;
}
button{
    color: rgba(255, 255, 255, 0.91);
    height: 20px;
    width: 20px;
    border:none
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}